language: node_js

cache: yarn

node_js:
  - 'stable'
  - '6'
  - '8'

sudo: false

before_install:
  - yarn global add codeclimate-test-reporter

script:
  - yarn test

after_script:
  - codeclimate-test-reporter < coverage/lcov.info
  - node_modules/.bin/coveralls < coverage/lcov.info

deploy:
  - provider: npm
    email: 'devmonk@mediamonks.com'
    api_key:
      secure: ''
    on:
      tags: true
      node: '8'
    skip_cleanup: true
